<div class="error-box">
  <div class="error-body text-center">
      <h3>Oops!!!</h3>
      <span style="color:firebrick;font-size: 80px;">{{errorStatus}}</span>
       <h2>{{errorMessage}}</h2> 
      <br>
      <br>    
      <!-- <p class="text-muted m-t-30 m-b-30">YOU SEEM TO BE TRYING TO FIND HIS WAY HOME</p> -->
      <a class="btn btn-info btn-rounded waves-effect waves-light m-b-40" [routerLink]="['/index']">Back to home</a>
  </div>
  <footer class="footer text-center">Copyright © 2014-2019 by Brightleaf Solutions, Inc.</footer>
</div>