<div class="card">
  <div class="card-body">
      <form (ngSubmit)="!resetPassForm.invalid" #resetPassForm="ngForm">
          <div class="form-group">
              <label for="userName">User Name</label>
              <div class="input-group">
                  <input type="email" [(ngModel)]="userName" class="form-control"
                      name="userName" disabled>
              </div>
          </div>
          <div class="form-group">
              <label for="newPassword">New Password</label>
              <div class="input-group">
                  <input id="newPassword" [(ngModel)]="newPassword" type="password" class="form-control" placeholder="Enter new password"
                      name="newPassword" required minlength="4">
              </div>
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <div class="input-group">
                <input id="confirmPassword" [(ngModel)]="confirmPassword" type="password" class="form-control" placeholder="Enter confirm password"
                    name="confirmPassword" required minlength="4">
            </div>
        </div>
        <!-- <div class="alert alert-danger" *ngIf='errmessage'>{{ message }}</div> -->
        
          <button type="submit" (click)="changePassword(resetPassForm)" class="btn btn-outline-dark"
              [disabled]="resetPassForm.invalid">Reset</button>

      </form>
  </div>
</div>